.wrapper {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
}

.list {
    margin-left: 10px;
}

.button {
    padding: 10px 20px;
    background: rgba(129, 110, 108, 0.133);
    border-radius: 5px;
    border: 0;
    cursor: pointer;
}

.button:hover {
    transform: scale(1.1);
    background: rgba(30, 16, 16, 0.133);
}